  
<!--@subject Contactforpin Email @-->
  <html>
    <head>
      <title>Contacted for pin</title>
    </head>
        <body>
        <table border='0' cellpadding='4' cellspacing='0' width='90%'>
        <tbody>
        <tr>
          <td align='center' colspan='2' height='30' >Contacted for pin</td>       
        </tr>    
        <tr>
          <td align='right' width='40%'><b>Name:</b></td>
          <td width='55%'>{{var firstname}}</td>
        </tr>       
        <tr>
          <td align='right' width='40%'><b>Location:</b></td>
          <td width='55%'>{{var location}}</td>
        </tr>
        <tr>
          <td align='right' width='40%'><b>Pincode:</b></td>
          <td width='55%'>{{var pincode}}</td>
        </tr>        
        <tr>
          <td align='right' width='40%'><b>Mobile number:</b></td>
          <td width='55%'>{{var telephone}}</td>
        </tr>
        <tr>
          <td align='right' width='40%'><b>Email Address:</b></td>  
          <td width='55%'>{{var email}}</td>
        </tr>
        </tbody>  
        </body>
    </html>