<?xml version="1.0"?>
<config>
    <modules>
        <Suyati_Contactforpin>
            <version>1.7</version>
        </Suyati_Contactforpin>
    </modules>
    <frontend>
        <routers>
            <Contactforpin>
                <use>standard</use>
                <args>
                    <module>Suyati_Contactforpin</module>
                    <frontName>contactinfo</frontName>
                </args>
            </Contactforpin>
        </routers>
        
        <layout>
            <updates>
                <Contactforpin>
                    <file>suyati_contactforpin.xml</file>
                </Contactforpin>
            </updates>
        </layout>
    </frontend>
    <global> 
        <helpers>
            <contactforpin>
                <class>Suyati_Contactforpin_Helper</class>
            </contactforpin>
        </helpers>      
        <template>
            <email>
                <suyati_contactforpin  module="contactforpin">
                    <label>Contactforpin Email</label>
                    <file>suyati_contactforpin.html</file>
                    <type>html</type>
                </suyati_contactforpin>
            </email>
        </template>
        
        <blocks>
            <contactforpin>
                <class>Suyati_Contactforpin_Block</class>
            </contactforpin>            
        </blocks>
        <models>
            <contactforpin>
                <class>Suyati_Contactforpin_Model</class>
                <resourceModel>contactforpin_mysql4</resourceModel>
            </contactforpin>
            <contactforpin_mysql4>
                <class>Suyati_Contactforpin_Model_Mysql4</class>
                <entities>        
                    <contactforpin>
                        <table>suyati_contactforpin_details</table>
                    </contactforpin>
                </entities>
            </contactforpin_mysql4>
        </models>
        <resources>
            <Suyati_Contactforpin_setup>
                <setup>
                    <module>Suyati_Contactforpin</module>                    
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Suyati_Contactforpin_setup>
            <contactforpin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </contactforpin_write>
            <contactforpin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </contactforpin_read>
        </resources>   
    </global>
    <admin>
        <routers>
            <contactforpin>
                <use>admin</use>
                <args>
                    <module>Suyati_Contactforpin</module>
                    <frontName>admin_contactforpin</frontName>
                </args>
            </contactforpin>            
        </routers>       
    </admin>
    <adminhtml>
        <menu>
            <contactforpin module="contactforpin">
                <title>Contact Info</title>
                <action>admin_contactforpin/adminhtml_contactforpin</action>
                <sort_order>81</sort_order>                
            </contactforpin>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <contactforpin>
                            <title>Contactforpin Module</title>
                            <sort_order>200</sort_order>
                        </contactforpin>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <contactforpin_options>
                                            <title>Contactforpin Configuration</title>
                                        </contactforpin_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>   
        </acl>
        <layout>
            <updates>
                <contactforpin>
                    <file>contactforpin.xml</file>
                </contactforpin>
            </updates>
        </layout>
    </adminhtml> 
</config>