<?xml version="1.0"?>
<config>
    <tabs>
        <contactforpin translate="label" module="contactforpin">
            <label>Contactforpin</label>
            <sort_order>1</sort_order>
        </contactforpin>
    </tabs>
     
    <sections>
        <contactforpin_options translate="label" module="contactforpin">
            <label>Contactforpin Settings</label>
            <tab>contactforpin</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <section_one translate="label">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>                
                    <fields>
                        <contactforpin_custom_field_one>
                            <label>Is Pincode Required?</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>Yes/No</comment>                   
                        </contactforpin_custom_field_one>
                        <contactforpin_custom_field_two>
                            <label>Is Location Required?</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>Yes/No</comment>                   
                        </contactforpin_custom_field_two>
                    </fields>
                </section_one>
                
            </groups>     
        </contactforpin_options>
    </sections>
</config>